*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body{
    width: 100%;
    background: #ffffff;
}

.container{
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
}

.top-bar{
    width: 1240px;
    height: 88px;
}

.name-page{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-left: 24px;
}

.top-bar i{
    margin-top: 39.63px;
    margin-left: 15.4px;
    font-size: 10px;
    color: #7E7D88;
}


#notic-close{
    position: absolute;
    left: 1148px;
    top:28px;
}

#notic-open{
    position: absolute;
    left: 1148px;
    top:28px;
    display: none;
}

.infor-account{
    position: absolute;
    width: 236px;
    height: 40px;
    left: 1204px;
    top:24px;
}

.infor-account a{
    text-decoration: none;
}

.avatar{
    border-radius: 50%;
    width: 40px;
    float: left;
}

.text-account{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 8px;
}

.text-account .greeting{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
 
    color: #7E7D88;
    float: left;
}

.text-account .name-user{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #535261;
}

.notification-box{
    position: absolute;
    width: 360px;
    height: 526px;
    left: 1062px;
    top:87px;
    border-radius: 10px;
    background: #FFFFFF;
    display: none;
    z-index: 2;
}

.notification-box .notic-title{
    width: 100%;
    height: 48px;
    padding: 9px 0px 0px 24px;
    border-radius: 10px 10px 0px 0px;
    background: #FF9138;
}

.notification-box .notic-title p{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #7E7D88;
}

.notification-box .notic-title a{
    font-weight: 700;
    font-size: 20px;
    
    color: #FFFFFF;
}

.notification-box .notification-notice{
    height: 476px;
    overflow: scroll ;
    overflow-x: hidden;
    margin-right: 4px;
}

.notification-box .notification-notice::-webkit-scrollbar{
    width: 4px;
}

.notification-box .notification-notice::-webkit-scrollbar-track{
    padding-right: 4px;
}

.notification-box .notification-notice::-webkit-scrollbar-thumb{
    background: #FFC89B;
    border-radius: 43px;
}

.notification-box .notification-notice .notic-item{
    width: 100%;
    padding: 16px 0px 16px 24px;

}

.notification-box .notification-notice .notic-item:hover{
    background:#FFF2E7;
}

.notification-box .notification-notice .notic-item .notic-name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #BF5805;
}

.notification-box .notification-notice .notic-item .notic-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #535261;
}

.notification-box .notification-notice .seperate{
    margin: 0px 16px 0px 16px;
    border: 2px solid #D4D4D7;
    opacity: 0.1;
}

.content{
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: row;
}

.content .panel-account{
    display: flex;
    flex-direction: row;
    background: #ffffff;
    width: 1112px;
    height: 397px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(219, 219, 219, 0.5);
    border-radius: 12px;
    margin: 80px 0px 0px 24px;
}

.content .panel-account .col-item-1{
    width: 284px;
    top: 40px;
}

.content .panel-account .col-item-1 .img-avarta{
    width: 248px;
    height: 248px;
    margin: 40px 12px 0px 24px;
    border-radius: 318px;
}

.content .panel-account .col-item-1 .btn-upload-photo{
    position: absolute;
    background: #FF7506;
    border: 2px solid #FFFFFF;
    border-radius: 22.5px;
    width: 45px;
    height: 45px;
    margin-top: 246px;
    margin-left: -101px;
}

.content .panel-account .col-item-1 .btn-upload-photo i{
    color: #ffffff;
    margin: 12px;
}


.content .panel-account .col-item-1 .name-avatar{
    width: 100%;
    margin-top: 19px;
    text-align: center;
}

.content .panel-account .col-item-1 .name-avatar p{
    color: #282739;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.content .panel-account .col-item-2{
    width: 384px;
    margin: 40px 12px 0px 12px;
}

.content .panel-account .col-item-2 .row-item {
    width: 100%;
    padding: 12px 0px 12px 0px;
}

.content .panel-account .col-item-2 .row-item p{
    color: #282739;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 0px 8px 0px;
}

.content .panel-account .col-item-2 .row-item input{
    width: 384px;
    height: 44px;
    border-radius: 6px;
    padding-left: 16px;
}

.main{
    width: 1240px;
    height: 706px;
}

.main .row-item1 {
    margin-top: 16px;
    margin-left: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main .row-item1 p{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #FF7506;
}

.main .row-item1 .box-container{
    background-color: white;
    width: 186px;
    height: 120px;
    border-radius: 10px;
    margin-right: 13px;
}

.main .row-item1 .box-container .row-item4{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 12px;
    margin-bottom: 16px;
}

.main .row-item1 .box-container .icon-box{
    width: 48px;
    height: 48px;
    text-align: center;
    padding-top: 12px;
    border-radius: 24px;
}

.main .row-item1 .box-container .icon-box i{
    font-size: 24px;
}

.main .row-item1 .box-container .wrap-name{
    width: 72px;
    margin-top: 6px;
    margin-left: 12.02px;
}

.main .row-item1 .box-container .wrap-name .box-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #535261;
}

.main .row-item1 .box-container .row-item4 .total-number{
    width: 108px;
    height: 45px;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #535261;
}

.main .row-item1 .box-container .row-item4 .percent-number-up{
    width: 48px;
    height: 14.98px;
    background: rgba(255, 149, 1, 0.15);
    border-radius: 7.18115px;
    margin-top: 13px;
    text-align: center;
}

.main .row-item1 .box-container .row-item4 .percent-number-up p{
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #FF9138;
    margin-top: 2px;
}

.main .row-item1 .box-container .row-item4 .percent-number-up p i{
    margin-right: 3px;
}

.main .row-item1 .box-container .row-item4 .percent-number-down{
    width: 48px;
    height: 14.98px;
    background: rgba(231, 63, 63, 0.15);
    border-radius: 7.18115px;
    margin-top: 13px;
    text-align: center;
}

.main .row-item1 .box-container .row-item4 .percent-number-down p{
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #E73F3F;
    margin-top: 2px;
}

.main .row-item1 .box-container .row-item4 .percent-number-down p i{
    margin-right: 3px;
}

.main .row-item1 .col-item4{
    margin-right: 16px;
}

.main .row-item1 .col-item4 p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.main .row-item1 .col-item4 select{
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    padding: 0px 0px 0px 12px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url(../images/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-position: left 85% top 9px;
    background-size: 12px;
}



.main .row-item1 .col-item5{
    position: absolute;
    margin-left: 812px;
}

.main .row-item1 .col-item5 p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;

}

.main .row-item1 .col-item5 input{
    width: 300px;
    height: 44px;
    background: #FFFFFF;

    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    padding-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.main .row-item1 .col-item5 i{
    margin-left: -30px;
    color: #FF7506;
    size: 11.67px;
}

.main .row-item1 .content-table{
    height: 490px;
    width: 1112px;
}

.main .row-item1 .content-table table{
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
    overflow: hidden;
    border-collapse: collapse;
    text-align: left;
}

.main .row-item1 .content-table tr th{
    background: #FF9138;
    padding: 12.5px 0px 12.5px 8px;
    border: 1px solid #FFE3CD;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #FFFFFF;
}

.main .row-item1 .content-table tr th i{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: #FFFFFF;
    float: right;
    margin-right: 19px;
}

.main .row-item1 .content-table tr td{
    padding: 3.5px 0px 3.5px 8px;
    border: 1px solid #FFF2E7;
}

.main .row-item1 .button-add{
    width: 80px;
    height: 94px;
    text-align: center;
    margin-left: 22px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    padding: 12px;
}

.main .row-item1 .button-add a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    
}

.main .row-item1 .button-add i{
    font-size: 28px;
}

.point{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    float: left;
    margin-top: 8px;
    margin-right: 4px;
}

.main .row-item1 .content-table tr:nth-child(even){
    background-color:  #FFF2E7;
    ;
}

.main .row-item1 .pagination{
    margin: 29px 0px 0px 794px;
}

.main .row-item1 .pagination a{
    text-decoration: none;
    width: 32px;
    height: 32px;
    padding: 5px 11px 5px 11px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    color: #7E7D88;
}

.main .row-item1 .pagination .active{
    background: #FF7506;
    border-radius: 4px;
    color: #FFFFFF;
}

.main .add-content{
    margin-left: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main .add-content .row-item2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
}

.main .row-item2 label{
    margin-right: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  
    color: #FF7506;
}

.main .title{
    margin-bottom: 4px;
    margin-top: 16px;
}



.main .row-item2 .col-item6 .add-title{
    color: #282739;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.main .row-item2 .col-item6 .stress{
    color: #FF4747;
}

.main .row-item2 .col-item6 .item{
    margin-top: 16px;
}

.main .row-item2 .col-item6 .item input{
    padding: 10px 0px 0px 12px;
    gap: 10px;

    width: 540px;
    height: 44px;

    background: #FFFFFF;

    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #A9A9B0;
}

.main .background-content{
    margin-left: 24px;
    width: 1152px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}
.main .add-content .row-item3{
    margin-top: 16px;
}

.main .add-content .row-item3 .add-title{
    color: #282739;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.main .add-content .row-item3 input{
    width: 1104px;
    height: 44px;
    padding: 10px 270px 10px 12px;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #A9A9B0;
}

.main .add-content .row-item3 .stress{
    color: #FF4747;
}

.main .row-item1 .add-button{
    margin-left: 434.5px;
}

.main .row-item1 .add-button .btn-cancel{
    width: 147px;
    height: 48px;
    background: #FFF2E7;
    border: 1.5px solid #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FF9138;
    margin-right: 32px;
}

.main .row-item1 .add-button .btn-add{
    width: 147px;
    height: 48px;
    background: #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;

    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin-right: 32px;
}

.main .background-content1{
    margin-left: 24px;
    width: 1112px;
    height: 604px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

.main .add-content .row-item2 .col-item7{
    width: 463px;
}

.main .add-content .row-item2 .col-item7 .item1{
    margin-top: 16px;
}

.main .add-content .row-item2 .col-item7 .add-title{
    color: #282739;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 158px;
}

.main .add-content .row-item2 .col-item7 .content{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    margin-top: 8px;
}

.main .button-update{
    width: 80px;
    height: 94px;
    text-align: center;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    padding: 10px;
    margin: -604px 0px 0px 1157px;
}

.main .button-update a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    
}

.main .button-update i{
    font-size: 28px;
}

.main .row-item1 .col-item4 input{
    width: 150px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    color: #282739;
    padding: 0px 0px 0px 44px;
    background-image: url(../images/calendar-days-solid.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1.5px solid #D4D4D7;
}

.main .row-item1 .col-item4 input::-webkit-calendar-picker-indicator{
    opacity: 0;
}

.main .row-item1 .col-item4 i{
    font-size: 10px;
}

.main .row-item1 .col-item5{
    position: absolute;
    margin-left: 812px;
}

.main .row-item1 .col-item9{
    position: static;
    margin-left: 872px;
}

.main .row-item1 .col-item9 p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;

}

.main .row-item1 .col-item9 input{
    width: 240px;
    height: 44px;
    background: #FFFFFF;

    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    padding-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.main .row-item1 .col-item9 i{
    margin-left: -30px;
    color: #FF7506;
    size: 11.67px;
}

.main .row-item1 .col-item11{
    position: absolute;
    margin-left: 872px;
}

.main .row-item1 .col-item11 p{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;

}

.main .row-item1 .col-item11 input{
    width: 240px;
    height: 44px;
    background: #FFFFFF;

    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    padding-left: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.main .row-item1 .col-item11 i{
    margin-left: -30px;
    color: #FF7506;
    size: 11.67px;
}

.main .chart-container{
    width: 791px;
    height: 484px;
    background: #FFFFFF;
    border-radius: 12px;
}

.main .chart-container .row-item5{
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
}
.main .chart-container .title-chart{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #282739;
}

.main .chart-container .time-chart{
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A9A9B0;
    margin-top: 8px;
}

.main .chart-container .select-chart{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.main .chart-container select{
    width: 106px;  
    height: 42px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    padding: 0px 0px 0px 12px;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url(../images/caret-down-solid.svg);
    background-repeat: no-repeat;
    background-position: left 85% top 9px;
    background-size: 12px;
}

.main .background-content1{
    margin-top: 32px;
    margin-left: 24px;
    width: 1152px;
    height: 550px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

.main .background-content1 .add-content .row-item6{
    width: 361px;
    height: auto;
    margin-top: 12px;
    display: flex;
    align-items: center;
    float: left;
}
.checkbox{
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1.5px solid #4277FF;
    border-radius: 4px;
    padding: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.main .background-content1 .add-content .title-checkbox{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #282739;
    margin-right: 15px;
}

.main .background-content1 .add-content .number-checkbox{
    width: 61px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    text-align: center;
    margin-right: 12px;
}

.checkbox::after{
    font-family: 'Font Awesome 5 free';
    content: "\f00c";
    font-weight: 900;
    font-size: 12px;
    padding: 3px;
    color: white;
    position: absolute;
    margin-top: -10px;
    margin-left: -8px;
    display: none;
}

.checkbox:checked{
    background: #4277FF;
}

.checkbox:checked::after{
    display: block;
}