*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito';
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
}

.container{
    position: relative;
    width: 100%;
    
}

.form-container{
    position: absolute;
    width: 100%;
}

.logo-alta{
    position: absolute;
    width: 170px;
    height: 136px;
    left: 208px;
    top: 82px;
}

.signin-signup{
    position: absolute;
    width: 400px;
    left: 94px;
    top: 293px;
}

.input-fiel{
    margin-top: 10px;
    align-content: flex-start;
}

.label-input{
    height: 27px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #37474F;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.input{
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 12px;
    gap: 30px;
    width: 400px;
    height: 44px;
    margin-top: 4px;

    background: #FFFFFF;

    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    font-family: 'Nunito';
    font-style: normal;
    font-size: 18px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.icon-eye{
    position: absolute;
    box-sizing: border-box;
    margin-top: -30px;
    margin-left: 365.66px;
}

.label-forget-password{
    position: absolute;
    height: 21px;
    left: 152px;
    top: 270px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;

    color: #E73F3F;
}

.label-warning{
    height: 21px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #E73F3F;
    text-align: center;
}

.icon-warning{
    width: 20px;
    height: 20px;
    top: 10px;

}

.btn-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    position: absolute;
    width: 162px;
    height: 40px;
    left: 121px;
    top: 218px;

    background: #FF9138;

    box-shadow: 0px 0px 6px #ffffff;
    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-color: #FF9138;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.btn-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;

    position: absolute;
    width: 162px;
    height: 40px;
    left: 24px;
    top: 178px;

    color: #FF9138;
    border: 1px solid #FF9138;
    background-color: #FFFFFF;

    filter: drop-shadow(0px 0px 6px #E7E9F2);
    border-radius: 8px;
}

.btn-continue{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    position: absolute;
    width: 162px;
    height: 40px;
    left: 210px;
    top: 178px;

    color: #ffffff;
    background: #FF9138;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    border-color: #FF9138;
}

.btn-confirm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    position: absolute;
    width: 162px;
    height: 40px;
    left: 121px;
    top: 268px;

    background: #FF9138;

    box-shadow: 0px 0px 6px #ffffff;
    border-radius: 8px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-color: #FF9138;
    
    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.panels-container{
    position: absolute;
    width: 848px;
    height: 810px;
    left: 592px;
    top: 0px;
    background: #FFFFFF;
}

.panel{
    position: absolute;
    width: 675px;
    height: 614.06px;
    left: 79px;
    top: 112.92px;
}

.system-word{
    position: absolute;
    height: 54px;
    left: 454px;
    top: 407px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;

    text-align: center;

    color: #FF7506;
}

.system-manager-queing{
    position: absolute;
    height: 54px;
    left: 454px;
    top: 454px;


    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 54px;

    text-align: center;

    color: #FF7506;
}