*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';
}

body{
    width: 100%;
    background: #ffffff;
    width: 1440px;
    height: 810px;
}

.container{
    width: 1440px;
    height: 810px;
    background: #F7F7F7;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: column;
    border-radius: 0px 16px 0px 0px;
    width: 1240px;
}

.wrap-main{
    display: flex;
    flex-direction: row;
}

.main{
    width: 1240px;
    height: 706px;
}

.wrap-chart{
    width: 793px;
    margin-left: 24px;
}
.row-item1 {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* dashboard */
.name-page{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    color: #FF7506;
}

.box-container{
    background-color: white;
    width: 186px;
    height: 120px;
    border-radius: 10px;
    margin-right: 13px;
}

.row-item2{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 12px;
    margin-bottom: 16px;
}


.box-icon1, .box-icon2, .box-icon3, .box-icon4{
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 24px;
}

.box-icon1{
    background-color: #6695fb41;
}

.box-icon2{
    background-color: #35c75938;
}

.box-icon3{
    background-color: #ffad6a33;
}

.box-icon4{
    background-color: #f86d6d31;
}

.icon-number1, .icon-number2, .icon-number3, .icon-number4{
    font-size: 28px;
}

.icon-number1{
    color: #6493F9;
}

.icon-number2{
    color: #35C75A;
}

.icon-number3{
    color: #FFAC6A;
}

.icon-number4{
    color: #F86D6D;
}

.wrap-name{
    width: 90px;
    margin-top: 5px;
    margin-left: 12.02px;
}

.name-box{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #535261;
}

.wrap-total{
    width: 118.3px;
}

.total-number{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #535261;
}

.percent-number{
    width: 48px;
    border-radius: 7.18115px;
    margin-top: 11px;
    text-align: center;
}

.percent-up {
    background-color: rgba(255, 149, 1, 0.15);
    border-radius: 7.18115px;
    padding: 3px;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #FF9138;
    margin-top: 2px;
}

.arrow{
    margin-right: 1px;
    transform: translateY(15%);
}

.percent-down {
    background-color: rgba(231, 63, 63, 0.15);
    border-radius: 7.18115px;
    padding: 3px;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #E73F3F;
    margin-top: 2px;
}

.chart-container{
    margin-left: -5px;
    width: 791px;
    height: 484px;
    background: #FFFFFF;
    border-radius: 12px;
}

.row-item3{
    margin-left: 24px;
    display: flex;
    flex-direction: row;
}

.col-item1{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.title-chart{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #282739;
}

.time-chart{
    margin-top: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #A9A9B0;
    margin-top: 8px;
}

.col-item2{
    margin-left: 327px;
    display: flex;
    flex-direction: row;
}

.select-chart{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    margin-right: 8px;
    margin-top: 33px;
}

.select-container{
    margin-top: 24px;
    width: 106px;
    height: 42px;
}

.circle-percent-container{
    position: absolute;
    width: 401px;
    height: 808px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 0px 16px 16px 0px;
    margin-left: 839px;
    display: flex;
    flex-direction: column;
}

.row-item4{
    margin-top: 104px;
    margin-bottom: 4px;
    margin-left: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wrap-table{
    width: 1112px;
    margin-left: 24px;
}

.row-item1-1{
    display: flex;
    flex-direction: row;
}

.col-item4{
    width: 300px;
    margin-right: 24px;
}

.col-item5{
    width: 300px;
}

.content-table{
    height: 490px;
    width: 100%;
}

.content-table table{
    width: 100%;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-radius: 12px;
    overflow: hidden;
    border-collapse: collapse;
    text-align: left;
}

.content-table table tr th{
    background: #FF9138;
    padding: 12.5px 0px 12.5px 14px;
    border: 1px solid #FFE3CD;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
 
    color: #FFFFFF;
}

.wrap-title-column{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.content-table table tr th i{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: #FFFFFF;
    float: right;
    margin-right: 19px;
}

.content-table table tr td{
    padding: 3.5px 0px 3.5px 8px;
    border: 1px solid #FFF2E7;
    height: 49px;   
}

.content-table tr:nth-child(even){
    background-color:  #FFF2E7;
}

.title-func{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #4277FF;
    cursor: pointer;
}

.wrap-readmore{
    width: 100%;
    height: 49px; 
    overflow: scroll ;
    overflow-x: hidden;
}

.wrap-readmore::-webkit-scrollbar{
    width: 4px;
}

.wrap-readmore::-webkit-scrollbar-track{
    padding-right: 4px;
}

.wrap-readmore::-webkit-scrollbar-thumb{
    background: #FFC89B;
    border-radius: 43px;
}

.title-text{
    width: 100%;
}

.point{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    float: left;
    margin-top: 8px;
    margin-right: 4px;
}

.p-red{
    background-color: #fc2a35;
}

.p-green{
    background-color: #34CD26;
}

.p-wait{
    background-color: #4277FF;
}

.p-used{
    background-color: #7E7D88;
}

.button-add{
    width: 86px;
    height: 94px;
    text-align: center;
    margin-top: 154px;
    margin-left: 22px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    padding: 11px;
}

.icon-button{
    font-size: 24px;
}

.button-add label{
    text-decoration: none;
    width: 80px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    
}

.button-add-block{
    width: 80px;
    height: 94px;
    text-align: center;
    margin-top: 154px;
    margin-left: 22px;
    background: #717a9273;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
    padding: 12px;
}
.button-add-block label{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #717a92;
    
}
.btn-block{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #717a92;
    cursor: pointer;
}

.col-item6{
    width: 320px;
    margin-right: 24px;
}

.col-item7{
    width: 154px;
    margin-right: 24px;
}

.col-item8{
    width: 240px;
}

.col-item9{
    width: 300px;
    margin-left: 872px;
}

.title-text1{
    width: 600px;
    margin-right: -260px;
}