.calendar{
    width: 100%;
    height: 100%;
}

.day1{
    height: 15px;
}

.day{
    width: calc(100%/7);
    height: 36px;
    display: inline-block;
    justify-items: center;
    background: white;
    padding: 8.5px 0;
    margin: 0px auto;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #535261;
}

.today{
    color: #FF7506;
}

.selected {
    padding: 8.5px;
    background: #FF7506;
    border-radius: 8px;
    color: white;
    margin: 0;
}

.noneBefore, .noneAfter, .after {
    color: #d9d9f0;
}


.header {
    width: 290px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FF7506;
    padding-top: 10px;
}

.none{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #DCDDFD;
}

.seperate{
    width: 288px;
    height: 1px;
    background-color:  #DCDDFD;
    margin: 0;
}

.day-name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #FF9138;
    padding: 20px 8px 10px 8px;
}
