<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/menu-bar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="menu-bar">
            <img src="images/Logo-alta-s.png" class="logo">
            <div class="menu-bar-content">
                <div class="item"><a href="dashboard.html"><i class="fas fa-grip-vertical"></i>Dashboard</a></div>
                <div class="item"><a href="equipment.html"><i class="fa-solid fa-display"></i>Thiết bị</a></div>
                <div class="item"><a href="service.html"><i class="fas fa-comments-dollar"></i>Dịch vụ</a></div>
                <div class="item"><a href="serial-number.html"><i class="fa-brands fa-buffer"></i>Cấp số</a></div>
                <div class="item"><a href="report.html"><i class="fas fa-receipt"></i>Báo cáo</a></div>
                <div class="item active"><a class="sub-btn"><i class="fas fa-cog"></i>Cài đặt hệ thống<i class="fas fa-ellipsis-v dropdown"></i></a>
                    <div class="sub-menu">
                        <a href="role-management.html" class="sub-item">Quản lý vai trò</a>
                        <a href="account-management.html" class="sub-item active">Quản lý tài khoản</a>
                        <a href="user-management.html" class="sub-item">Nhật ký người dùng</a>
                    </div>
                </div>
            </div>
            <div class="menu-bar-button">
                <a href="login.html" class="btn-logout"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>
            </div>
        </div>
        <div class="content">
            <div class="top-bar">
                <a class="name-page" style="color: #7E7D88;">Cài đặt hệ thống</a><i class="fa-solid fa-chevron-right"></i> 
                <a src="" class="name-page" style="color: #FF9138; margin-left: 15.4px;">Quản lý tài khoản</a>
                <img src="images/notification-c.png" alt="" id="notic-close">
                <img src="images/notification-o.png" alt="" id="notic-open">
                <div class="notification-box" id="box">
                    <div class="notic-title">
                        <a>Thông báo</a>
                    </div>
                    <div class="notification-notice">
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                    </div>
                </div>
                <div class="infor-account">
                    <a href="account.html">
                        <img src="images/hình nền.png" alt="avata" class="avatar">
                        <div class="text-account">
                            <p class="greeting">Xin chào</p>
                            <p class="name-user">Lê Quỳnh Ái Vân</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main">
                <div class="row-item1">
                    <p>Danh sách tài khoản</p>
                </div>
                <div class="row-item1">
                    <div class="col-item4">
                        <p>Trạng thái hoạt động</p>
                        <select name="state-equipment" id="" style="width: 300px;">
                            <option value="all">Tất cả</option>
                            <option value="connect">Kết nối</option>
                            <option value="inconnect">Mất kết nối</option>
                        </select>
                    </div>
                    <div class="col-item11">
                        <p>Từ khoá</p>
                        <input type="text" placeholder="Nhập từ khoá" id="">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="row-item1">
                    <div class="content-table">
                        <table>
                            <thead>
                                <tr>
                                    <th style=" width: 224px;">Tên vai trò</th>
                                    <th style=" width: 224px;">Số người dùng</th>
                                    <th style=" width: 537px;">Mô tả</th>
                                    <th style=" width: 125px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Kế toán</td>
                                    <td>6</td>
                                    <td>Thực hiện nhiệm vụ về thống kê số liệu và tổng hợp số liệu</td>
                                    <td><a href="views/update-role-management.html">Cập nhật</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="button-add">
                        <a href="views/add-role-management.html"><i class="fa-solid fa-square-plus"></i><br/>Thêm vai trò</a>
                    </div>
                </div>
                <div class="row-item1">
                    <div class="pagination">
                        <a href="#"><i class="fa-solid fa-caret-left"></i></a>
                        <a href="#">1</a>
                        <a class="active" href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">...</a>
                        <a href="#">10</a>
                        <a href="#"><i class="fa-solid fa-caret-right"></i></a>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/sub-menu.js"></script>
    <script src="js/notification.js"></script>
</body>
</html>