<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queing systerm</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="css/menu-bar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/fontawesome.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="menu-bar">
            <img src="images/Logo-alta-s.png" class="logo">
            <div class="menu-bar-content">
                <div class="item active"><a href="dashboard.html"><i class="fas fa-grip-vertical"></i>Dashboard</a></div>
                <div class="item"><a href="equipment.html"><i class="fa-solid fa-display"></i>Thiết bị</a></div>
                <div class="item"><a href="service.html"><i class="fas fa-comments-dollar"></i>Dịch vụ</a></div>
                <div class="item"><a href="serial-number.html"><i class="fa-brands fa-buffer"></i>Cấp số</a></div>
                <div class="item"><a href="report.html"><i class="fas fa-receipt"></i>Báo cáo</a></div>
                <div class="item"><a class="sub-btn"><i class="fas fa-cog"></i>Cài đặt hệ thống<i class="fas fa-ellipsis-v dropdown"></i></a>
                    <div class="sub-menu">
                        <a href="role-management.html" class="sub-item">Quản lý vai trò</a>
                        <a href="account-management.html" class="sub-item">Quản lý tài khoản</a>
                        <a href="user-management.html" class="sub-item">Nhật ký người dùng</a>
                    </div>
                </div>
            </div>
            <div class="menu-bar-button">
                <a href="login.html" class="btn-logout"><i class="fas fa-sign-out-alt"></i>Đăng xuất</a>
            </div>
        </div>
        <div class="content">
            <div class="top-bar">
                <a src="" class="name-page" style="color: #FF9138; margin-left: 15.4px;">Dashboard</a>
                <img src="images/notification-c.png" alt="" id="notic-close">
                <img src="images/notification-o.png" alt="" id="notic-open">
                <div class="notification-box" id="box">
                    <div class="notic-title">
                        <a>Thông báo</a>
                    </div>
                    <div class="notification-notice">
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                        <div class="seperate"></div>
                        <div class="notic-item">
                            <p class="notic-name">Người dùng: Nguyễn Thị Thuỳ Dung</p>
                            <p class="notic-content">Thời gian nhận số: 12h20 ngày 30/11/2021</p>
                        </div>
                    </div>
                </div>
                <div class="infor-account">
                    <a href="account.html">
                        <img src="images/hình nền.png" alt="avata" class="avatar">
                        <div class="text-account">
                            <p class="greeting">Xin chào</p>
                            <p class="name-user">Lê Quỳnh Ái Vân</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="main">
                <div class="row-item1">
                    <p>Biểu đồ cấp số</p>
                </div>
                <div class="row-item1">
                    <div class="box-container">
                        <div class="row-item4">
                            <div class="icon-box" style="color: #6493F9;  background:  #6593ff34;"><i class="fa-regular fa-calendar"></i></div>
                            <div class="wrap-name"><p class="box-name">Số thứ tự đã cấp</p></div>
                        </div>
                        <div class="row-item4">
                            <p class="total-number">4.221</p>
                            <div class="percent-number-up">
                                <p><i class="fa-solid fa-arrow-up"></i>32,41%</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="row-item4">
                            <div class="icon-box" style="color: #35C75A; background:  #35c75925;"><i class="fa-regular fa-calendar-check"></i></div>
                            <div class="wrap-name"><p class="box-name">Số thứ tự đã sử dụng</p></div>
                        </div>
                        <div class="row-item4">
                            <p class="total-number">4.221</p>
                            <div class="percent-number-down">
                                <p><i class="fa-solid fa-arrow-down"></i>32,41%</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="row-item4">
                            <div class="icon-box" style="color: #FFAC6A; background:  #ffad6a3b;"><i class="fa-solid fa-user-clock"></i></i></div>
                            <div class="wrap-name"><p class="box-name">Số thứ tự đã cấp</p></div>
                        </div>
                        <div class="row-item4">
                            <p class="total-number">4.221</p>
                            <div class="percent-number-up">
                                <p><i class="fa-solid fa-arrow-up"></i>32,41%</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-container">
                        <div class="row-item4">
                            <div class="icon-box" style="color: #F86D6D; background:  rgba(255, 173, 106, 0.171);"><i class="fa-regular fa-bookmark"></i></div>
                            <div class="wrap-name"><p class="box-name">Số thứ tự đã cấp</p></div>
                        </div>
                        <div class="row-item4">
                            <p class="total-number">4.221</p>
                            <div class="percent-number-up">
                                <p><i class="fa-solid fa-arrow-up"></i>32,41%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-item1">
                    <div class="chart-container">
                        <div class="row-item5">
                            <div class="col-tiem10" style="width: 535px;">
                                <label class="title-chart">Bảng thống kê theo tuần</label></br>
                                <label class="time-chart">Tháng 11/2021</label>
                            </div>
                            <div class="col-item10">
                                <label class="select-chart" style="margin-left: 24px;">Xem theo</label>
                                <select name="select" id="">
                                    <option value="date">Ngày</option>
                                    <option value="month">Tháng</option>
                                    <option value="year">Năm</option>
                                </select>
                            </div>
                        </div>
                        <div class="row-item5">
                            <section id="svg-path">
                                <section id="card"></section>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <script src="js/sub-menu.js"></script>
    <script src="js/notification.js"></script>
    <script src="js/chart.js"></script>
</body>
</html>